{% extends 'base.html' %}
{% block title %}It works!{% endblock %}

{% block content %}
	<div id="clb-shell">
		<ul id="clb">
{% for video in videos %}
			<li>
				<a href="/video/{{ video.pk }}"><img src="{{ video.thumbnail }}" width="178" height="100"><br />{{ video.name }}</a>
				<!-- <p><a href="{{ video.urls.0 }}">Low 172k</a> <br /> <a href="{{ video.urls.1 }}">Medium 1Mb</a> <br /> <a href="{{ video.urls.2 }}">High 2Mb</a></p> -->
				<!-- <p>{% for k,v in video.get_tags.items %}<a href="{{ request.get_path }}?{{ k }}={{ v }}">{{ k }}={{ v }}</a> {% endfor %}</p> -->
				<p>{{ video.date }}</p>
			</li>
{% endfor %}
		</ul>
	</div>

	<br style="clear:both;" />

{% endblock %}
