{% extends 'base.html' %}
{% block title %}{{ video.name }}{% endblock %}

{% block content %}

	<div id="video-box">
		<div id="col1">
			<div id="video-thumb">
				<a href="{{ video.urls.1 }}"><img src="{{ video.thumbnail }}" width="326" height="184"></a>
			</div>
		</div>
	
		 <div id="col2">
			<div id="metadata">
				<h1 title="{{ video.name }}">
					<a id="title" href="{{ video.urls.1 }}">{{ video.name }}</a>
				</h1>
	          
				<ul id="video-list">
					{% if video.urls.0 != None %}<li><a title="Low (172k)"   href="{{ video.urls.0 }}">Low (172k)</a></li>{% endif %}
					<li><a title="Medium (1Mb)" href="{{ video.urls.1 }}">Medium (1Mb)</a></li>
					{% if video.urls.2 != None %}<li><a title="High (2Mb)"   href="{{ video.urls.2 }}">High (2Mb)</a></li>{% endif %}
				</ul>
	
				<p id="video-date">
					{{ video.date }}
				</p>
			</div>
		</div>
	</div>

{% endblock %}
